.git
.next
node_modules
.pnpm-store

.env
.env.*
!.env.example

coverage
build
out
media

.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docker-compose.yml
package-lock.json
yarn.lock
